.eachImage {
  padding: 40px;
  border-radius: 20px;
  width: 75%;
  height: auto;
  background-color: $lightest;
  border: 2px solid transparent;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 44px 0 rgba(0, 0, 0, .02);
  transition: all .2s ease-in-out;

  &:hover {
    border: 2px solid $default;
    box-shadow: 0 25px 64px 0 rgba(0, 0, 0, .15);
  }

  &__image {
    width: auto;
    height: auto;
    max-height: 60vh;
    max-width: 70vw;
  }

  &__title {
    font-size: 16px;
    padding: 15px 0;
  }
}

.voting {
  font-weight: bold;
  font-size: 25px;

  &__up {
    color: green;
  }

  &__down {
    color: red;
  }
}