@media only screen and (max-width: 800px) {
  .eachImage {
    width: 95%;
    padding: 20px;
    margin: 10px 0;

    &__image {
      max-height: 80vh;
      max-width: 85vw;
    }
  }

  .sub-choice {
    width: 95%;
  }
}